<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Data Source=X:\code\Private\RssPublisher\rss.db;"/>
    <add key="slackChannel" value=""/>
    <add key="slackToken" value=""/>
    <add key="integrations" value="Slack"/>
    <add key="DefaultTtlInMinutes" value="29"/>
  </appSettings>
</configuration>